L5Simpel2Client/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/L5Simpel2/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/L5Simpel2/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjecten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjecten" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjecten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectenResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjectInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectInfo" />
  </wsdl:message>
  <wsdl:message name="IServices_GetProjectInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetMedewerker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedewerker" />
  </wsdl:message>
  <wsdl:message name="IServices_GetMedewerker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedewerkerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetWerkzaamheden_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWerkzaamheden" />
  </wsdl:message>
  <wsdl:message name="IServices_GetWerkzaamheden_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWerkzaamhedenResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_RegistreerWerkzaamheid_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerWerkzaamheid" />
  </wsdl:message>
  <wsdl:message name="IServices_RegistreerWerkzaamheid_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerWerkzaamheidResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_EditWerkzaamheid_InputMessage">
    <wsdl:part name="parameters" element="tns:EditWerkzaamheid" />
  </wsdl:message>
  <wsdl:message name="IServices_EditWerkzaamheid_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditWerkzaamheidResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteWerkzaamheid_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWerkzaamheid" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteWerkzaamheid_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWerkzaamheidResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Login" message="tns:IServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/LoginResponse" message="tns:IServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Register" message="tns:IServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/RegisterResponse" message="tns:IServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjecten">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetProjecten" message="tns:IServices_GetProjecten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetProjectenResponse" message="tns:IServices_GetProjecten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetProjectInfo" message="tns:IServices_GetProjectInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetProjectInfoResponse" message="tns:IServices_GetProjectInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedewerker">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetMedewerker" message="tns:IServices_GetMedewerker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetMedewerkerResponse" message="tns:IServices_GetMedewerker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWerkzaamheden">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetWerkzaamheden" message="tns:IServices_GetWerkzaamheden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetWerkzaamhedenResponse" message="tns:IServices_GetWerkzaamheden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistreerWerkzaamheid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/RegistreerWerkzaamheid" message="tns:IServices_RegistreerWerkzaamheid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/RegistreerWerkzaamheidResponse" message="tns:IServices_RegistreerWerkzaamheid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditWerkzaamheid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/EditWerkzaamheid" message="tns:IServices_EditWerkzaamheid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/EditWerkzaamheidResponse" message="tns:IServices_EditWerkzaamheid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWerkzaamheid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeleteWerkzaamheid" message="tns:IServices_DeleteWerkzaamheid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeleteWerkzaamheidResponse" message="tns:IServices_DeleteWerkzaamheid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjecten">
      <soap:operation soapAction="http://tempuri.org/IServices/GetProjecten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectInfo">
      <soap:operation soapAction="http://tempuri.org/IServices/GetProjectInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedewerker">
      <soap:operation soapAction="http://tempuri.org/IServices/GetMedewerker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWerkzaamheden">
      <soap:operation soapAction="http://tempuri.org/IServices/GetWerkzaamheden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistreerWerkzaamheid">
      <soap:operation soapAction="http://tempuri.org/IServices/RegistreerWerkzaamheid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWerkzaamheid">
      <soap:operation soapAction="http://tempuri.org/IServices/EditWerkzaamheid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWerkzaamheid">
      <soap:operation soapAction="http://tempuri.org/IServices/DeleteWerkzaamheid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/L5Simpel2/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>